# Dependencias
node_modules/

# Variables de entorno
.env
.env.*
!.env.example

# Prisma
prisma/*.db
prisma/*.db-journal

# Builds
dist/
build/
.vite/

# Logs
*.log

# Sistema operativo
.DS_Store
Thumbs.db

# Editor
.vscode/*
!.vscode/extensions.json